@model Logistics.Models.Load.UnLoadViewModel

<div class="row">
    <!--Summary-->
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6 text-muted">Adres Vigruzki</div>
            <div class="col-md-6">@Html.DisplayFor(model => model.Address)</div>
        </div>

        <div class="row">
            <div class="col-md-6 text-muted">Plan. Data Pogruzki</div>
            <div class="col-md-6">@Html.DisplayFor(model => model.PlannedDate) @Html.DisplayFor(model => model.PlannedTime)</div>
        </div>
    </div>

    <!--Cargo List-->
    <div class="col-md-8">
        @Html.Partial("UnloadedCargoListPartial", Model)
    </div>
    <div class="row">
        <div class="col-lg-12" align="center">
            <h5><i class="fa fa-truck text-primary"></i>&nbspВсего: <b>@Html.DisplayFor(model => Model.TotalWeightKg) кг &nbsp&nbsp @Html.DisplayFor(model => Model.TotalVolumeMCube) m3</b></h5>
        </div>
    </div>
</div>

